/**
    @file Diseño del nav flexible y del resto de la web.
    @author Julio Antonio Ramos Gago (jramosgago.guadalupe@alumnado.fundacionloyola.net)
*/

body{
    width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

nav{
    background-color: blue;
    width: 96.67%;
    padding: 20px 1.666%;
    display: flex;
}

nav div{
    width: 24.166%;
    text-align: center;
}

nav a{
    color: white;
}

nav div:nth-last-of-type(1){
    flex-grow: 1;
}

nav div:nth-last-of-type(2){
    flex-grow: 1;
}

nav div:nth-last-of-type(3){
    flex-grow: 1;
}

nav div:nth-last-of-type(4){
    flex-grow: 1;
}

main{
    min-height: 600px;
    background-color: beige;
}

footer{
    background-color: blue;
    width: 96.67%;
    padding: 20px 1.666%;
    text-align: center;
}

footer div{
    color: white;
}